* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* temporary styles for structural html */
/* section {
  padding: 0.5rem;
  border: 5px solid rgb(240,240,240);
} */

body {
  font-family: 'Cormorant', serif;
}


/* Gallery */

.gallery,
[class*=bg-image] {
    background-color: rgb(240,240,240);
    background-image: url('/images/momentscatering-dessert-glas.jpg')
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portrait-tall {
  padding-bottom: 175%;
}

.portrait {
  padding-bottom: 125%;
}

.square {
  padding-bottom: 100%;
}

.landscape {
  padding-bottom: 66%;
}

.landscape-wide {
  padding-bottom: 56%;
}

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

/* Background Position */
.bg-pos-t-l { background-position: left top; }
.bg-pos-b-r { background-position: right bottom; }

/* Background Position */
.bg-pos-t-l { background-position: 10% 10%; }
.bg-pos-b-r { background-position: 85% 85%; }


/* Image Styles */

.bg-header {
  background-image: url('/images/momentscatering-chef-hands.png');
  background-size: cover;
  background-position: center;
}

/* Universal styles & utility classes */

.padded       { padding: 5%; }
.padded-sm    { padding: 2rem; }
.padding-top  { padding: 5rem; }


.bg-dark {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.bg-bright {
  background-color: #f2f2f2;
  color: #1a1a1a
}

.margin       { margin: 5%; }
.margin-sm    { margin: 1rem; }
.margin-top   { margin-top: 12rem; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.tall-70    { min-height: 70vh; }
.tall-80    { min-height: 80vh; }
.tall-90    { min-height: 90vh; }
.tall-100    { min-height: 100vh; }



/* Header Styles */

/* header {
  background-image: url('/images/momentscatering-chef-hands.png');
  background-
} */


/* Font Styles */

h1, h2, h3, h4 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

p { font-size: 1.5rem; }


/* Background Images */

.bg-image-stephan {
  background-image: url('/images/momentscatering-cooking-with-fire.jpg');
  background-size: full;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-image-about {
  background-image: url('/images/momentscatering-stephan.jpg');
  background-size: cover;
  background-position: center;
}

/* ----------- Import Tailwind -----*/
@tailwind base;
@tailwind components;
@tailwind utilities;


/* ----------- Default Styles to apply to the whole project  --------- */

@layer base {
    
    body,html {
        @apply text-bright bg-dark w-screen overflow-x-hidden; 
    }
    h1, h2, h3, h4  {
        @apply font-serif mb-[0.5em];
    }

    h1 {
        @apply text-7xl lg:text-8xl leading-tight;
    }
    h2 {
        @apply text-3xl lg:text-5xl leading-tight;
    }
    h3 {
        @apply text-2xl lg:text-4xl leading-tight;
    }

    h3 {
        @apply text-lg leading-tight;
    }
    h4 {
        @apply text-lg leading-tight;
    }

    p {
        @apply mb-[0.5em] leading-normal font-sans;
    }

  }