* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* temporary styles for structural html */
/* section {
  padding: 0.5rem;
  border: 5px solid rgb(240,240,240);
} */

body {
  font-family: 'Cormorant', serif;
}


/* Gallery */

[class*=bg-image] {
    background-color: rgb(240,240,240);
    background-image: url('/images/momentscatering-dessert-glas.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.gallery [class*=col-] {
  padding: 0.5%;
}

.bg-cover {
  background-size: cover;
}

/* Aspect Ratio */
.portrait-tall { padding-bottom: 175%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-wide { padding-bottom: 56% }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }

/* Background Position */
.bg-pos-t-l { background-position: left top; }
.bg-pos-b-r { background-position: right bottom; }

/* Background Position */
.bg-pos-t-l { background-position: 35% 20%; }
.bg-pos-b-r { background-position: 55% 100%; }

/* Image Styles */

.bg-header {
  background-image: url('/images/momentscatering-chef-hands.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 90%;
  width: 70%;
  z-index: 0;
}

.bg-header-about {
  background-image: url('/images/momentscatering-cooking-with-fire.png');
  background-size: cover;
  background-position: 60% 30%;
}

.bg-header-dessert {
  background-image: url('/images/momentscatering-dessert.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 90%;
  width: 70%;
  z-index: 0;
}

/* Universal styles & utility classes */

.padded       { padding: 5%; }
.padded-xs    { padding: 1rem; }
.padded-sm    { padding: 2rem; }
.padded-md    { padding: 3rem; }
.padding-t    { padding-top: 5rem; }
.padding-b    { padding-bottom: 2rem; }
.padding-b-l  { padding-bottom: 4rem; }
.padding-frame {  padding-left: 5rem;
                  padding-right: 5rem;
                  padding-bottom: 1rem;
                  padding-top: 1rem;
                }
.padding-form { padding-left: 15%;
                padding-right: 15%;
                padding-bottom: 5%;
                padding-top: 5%; }
.pt-text-gallery { padding-top: 10%; }
.pt-text-gallery2 { padding-top: 20%; }

.relative     { position: relative; }


.bg-dark {
  background-color: #1a1a1a;
  color: #f2f2f2;
}

.bg-bright {
  background-color: #f2f2f2;
  color: #1a1a1a
}

.margin       { margin: 5%; }
.margin-sm    { margin: 1rem; }
.margin-top   { margin-top: 12rem; }
.margin-bump-up { margin-top: -2rem; }

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.tall-40    { min-height: 40vh; }
.tall-50    { min-height: 50vh; }
.tall-60    { min-height: 60vh; }
.tall-70    { min-height: 70vh; }
.tall-80    { min-height: 80vh; }
.tall-90    { min-height: 90vh; }
.tall-100    { min-height: 100vh; }


/* Font Styles */

h1, h2, h3, h4 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

p { font-size: 1.5rem;
    line-height: 1.4; 
  }

span {  font-weight: bold;
        font-size: 1.5rem;
        text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: light;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Navigation Style */
.navigation {
  color: #f2f2f2;
	text-decoration: none;
  font-weight: lighter;
	display: inline-block;
	letter-spacing: 0.05em;
	padding: 0.5rem 0.8rem;
	margin: 0.5rem;
}

.navigation:hover {
  color: #f2f2f2;
	text-decoration: underline;
  font-weight: lighter;
	display: inline-block;
	letter-spacing: 0.05em;
	padding: 0.5rem 0.8rem;
	margin: 0.5rem;
}

.footer-nav {
  line-height:1.8;
}

/* Logo styles */
.header-logo {
  max-width: 400px;
}

.footer-logo {
  width: 400px;
  max-width: 100%;
}


/* Background Images */

.bg-image-stephan {
  background-image: url('/images/momentscatering-cooking-with-fire.png');
}

.bg-image-about {
  background-image: url('/images/momentscatering-stephan.jpg');
  background-size: cover;
  background-position: 50% 43%;
}

.bg-image-octopus {
  background-image: url('/images/momentscatering-octopus.jpg');
  background-size: cover;
  background-position: 50% 62%;
}

.bg-image-dessert1 {
  background-image: url('/images/momentscatering-dessert-glas.jpg');
}

.bg-image-dessert2 {
  background-image: url('/images/momentscatering-dessert.png');
}

.bg-image-pralines {
  background-image: url('/images/momentscatering-pralines.jpg');
}

.bg-image-filled {
  background-image: url('/images/momentscatering-filled-food.jpg');
}

.bg-image-chevy {
  background-image: url('/images/momentscatering-chevy.jpg');
}

.bg-image-pasta {
  background-image: url('/images/momentscatering-pasta.jpg');
}

.bg-image-fine {
  background-image: url('/images/momentscatering-fine-food.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 90%;
  width: 70%;
  z-index: 0;
}

.bg-image-right {
  right: 0;
}

.bg-about-banner {
  background-image: url('/images/momentscatering-cooking-with-fire.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 90%;
  width: 70%;
  z-index: 0;
}

/* Button Styles */
.button-light {
  color: #1a1a1a;
  font-weight: lighter;
  background-color: #f2f2f2;
	text-decoration: none;      
	letter-spacing: 1px;          
	padding: 0.6rem 1.5rem;    
	display: inline-block;
}

.button-light:hover {
  color: #f2f2f2;
  background-color: #1a1a1a;
  font-weight: light;
	text-decoration: none; 
  border: 1px solid #f2f2f2;     
	letter-spacing: 1px;          
	padding: 0.6rem 1.5rem;    
	display: inline-block;
}

.button-dark {
  color: #f2f2f2;
  font-weight: lighter;
  background-color: #1a1a1a;
	text-decoration: none; 
  border: 1px solid #f2f2f2;     
	letter-spacing: 1px;          
	padding: 0.6rem 1.5rem;    
	display: inline-block;   
}

.button-dark:hover {
  color: #1a1a1a;
  background-color: #f2f2f2;
  font-weight: light;
	text-decoration: none;     
	letter-spacing: 1px;          
	padding: 0.6rem 1.5rem;    
	display: inline-block;
}

form input,
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid #f2f2f2;
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: #410303;
}

textarea {
  min-height: 8rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: inherit;
  /* font-weight: bold; */
  font-size: 1.5rem;
}

form button {
  border: none;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}

/* Custom Grids */
.three-column-gallery {
  display: grid;
  grid-template-columns: 2fr 400px 3fr;
}

.three-column-gallery2 {
  display: grid;
  grid-template-columns: 3fr 500px 3fr;
}

/* Media Queries */
@media (
  max-width: 768px
)
{
  .mobile-text-center {
    text-align: center;
  }

  .bg-header {
    position: relative;
    height: initial;
    width: 100%;
    z-index: 0;
    aspect-ratio: 1;
  }

  .bg-image-fine {
    position: relative;
    height: initial;
    width: 100%;
    z-index: 0;
    aspect-ratio: 1;
  }

  .bg-header-dessert {
    position: relative;
    height: initial;
    width: 100%;
    z-index: 0;
    aspect-ratio: 1;
  }

  .mobile-bump-up {
    margin-top: -2rem;
  }

  .mobile-hide {
    display: none;
  }

  .padding-mob {
    padding-left: 5%;
    padding-right: 5%;
  }

  .mobile-square {
    min-height: 40vh;
  }
}

