<!DOCTYPE html>
<html lang="de">

<!-- this is the head of our html where we add external resources and metadata -->
<head>

    <title> MomentsCatering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- this is the grid stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">

    <!-- this is our font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

    <!-- Tailwind -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <!-- this is the css stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<!-- this is the body where all the page content goes -->
<body class="bg-dark">

    <!--------------------- Navigation  ----------------------->
    <header class="padded-xs grid-middle-spaceBetween">
        <div class="col_sm-12 mobile-text-center">
          <a href="/">
            <img class="header-logo" src="/images/momentscatering-logo-white.png" alt="MomentsCatering Logo">
          </a>
        </div>
        <nav class="col_sm-12 text-right mobile-text-center">
          <a class="navigation" href="/about.html"> Über mich </a>
          <a class="navigation" href="/services.html"> Angebot </a>
          <a class="navigation" href="/contact.html"> Kontakt </a>
        </nav>
      </header>


    {{content}}

    <!-------------------- Footer ---------------------->
    <footer class="grid padded-md bg-dark">
        <!-- column 1 -->
        <div class="col-3_lg-12-middle">
            <img class="footer-logo" src="/images/momentscatering-word-logo.png" alt="MomentsCatering Logo">
        </div>

        <!-- column 2 -->
        <div class="col-3_lg-6_sm-12-middle text-left">
            <nav>
                <a class="footer-nav" href="/index.html"> Home </a><br>
                <a class="footer-nav" href="/about.html"> Über mich </a><br>
                <a class="footer-nav" href="/services.html"> Angebot </a><br>
                <a class="footer-nav" href="/contact.html"> Kontakt </a>
            </nav>
        </div>

        <!-- column 3 -->
        <div class="col-3_lg-6_sm-12-middle text-left">
            <p class="mt-6 footer-nav"> MomentsCatering <br> 
                <a class="footer-nav" href="mailto:info@momentscatering.ch"> info@momentscatering.ch </a> <br> 
                <a class="footer-nav" href="tel:+41782358909"> +41 78 235 89 09 </a> 
            </p>
        </div>

        <!-- column 4 -->
        <div class="col-3_lg-12-middle text-left">
            <nav>
                <a class="footer-nav" href="/datenschutzbestimmungen.html"> Datenschutzbestimmungen </a><br>
                <a class="footer-nav" href="/impressum.html"> Impressum </a><br>
                <a class="footer-nav" href="#"> Facebook </a><br>
                <a class="footer-nav" href="#"> Instagram </a>
            </nav><br>
            <p> ©2024 MomentsCatering </p>
        </div>
     </footer>

     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="<https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID>"></script>
     <script>
        function createCookie(name,value,days) {
            var expires = "";
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
            }
            document.cookie = name + "=" + value + expires + "; path=/";
        }
        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
            }
            return null;
        }
        function eraseCookie(name) {
            createCookie(name,"",-1);
        }
      
        function runCookiedCodes() {
                  // Add tracking scripts here 
                  window.dataLayer = window.dataLayer || [];
                function gtag(){window.dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'GA_MEASUREMENT_ID');
                // End tracking scripts 
        }
      
        if(readCookie('cookie-notice-accepted')=='true') {
      
            runCookiedCodes()
            //removes cookies while testing 
            //eraseCookie('cookie-notice-accepted')
        } else {
            document.getElementById('cookie-notice').style.display = 'block';
        }
        document.getElementById('cookie-notice-accept').addEventListener("click",function() {
            createCookie('cookie-notice-accepted','true',31);
            document.getElementById('cookie-notice').style.display = 'none';
            runCookiedCodes()
        });
      
        document.querySelector("#close-cookie-banner").addEventListener("click", (e) => {
            
            document.querySelector("#cookie-notice").style.display = 'none';
        });
      
      </script>

</body>
</html>